/* [project]/node_modules/@once-ui-system/core/dist/components/MasonryGrid.module.scss.module.css [app-client] (css) */
.MasonryGrid-module-scss-module__Vo5F-G__columns-1 {
  column-count: 1;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-2 {
  column-count: 2;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-3 {
  column-count: 3;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-4 {
  column-count: 4;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-5 {
  column-count: 5;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-6 {
  column-count: 6;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-7 {
  column-count: 7;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-8 {
  column-count: 8;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-9 {
  column-count: 9;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-10 {
  column-count: 10;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-11 {
  column-count: 11;
}

.MasonryGrid-module-scss-module__Vo5F-G__columns-12 {
  column-count: 12;
}

@media (max-width: 1440px) {
  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-1 {
    column-count: 1;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-2 {
    column-count: 2;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-3 {
    column-count: 3;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-4 {
    column-count: 4;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-5 {
    column-count: 5;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-6 {
    column-count: 6;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-7 {
    column-count: 7;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-8 {
    column-count: 8;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-9 {
    column-count: 9;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-10 {
    column-count: 10;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-11 {
    column-count: 11;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__l-columns-12 {
    column-count: 12;
  }
}

@media (max-width: 1024px) {
  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-1 {
    column-count: 1;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-2 {
    column-count: 2;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-3 {
    column-count: 3;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-4 {
    column-count: 4;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-5 {
    column-count: 5;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-6 {
    column-count: 6;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-7 {
    column-count: 7;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-8 {
    column-count: 8;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-9 {
    column-count: 9;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-10 {
    column-count: 10;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-11 {
    column-count: 11;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__m-columns-12 {
    column-count: 12;
  }
}

@media (max-width: 768px) {
  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-1 {
    column-count: 1;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-2 {
    column-count: 2;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-3 {
    column-count: 3;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-4 {
    column-count: 4;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-5 {
    column-count: 5;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-6 {
    column-count: 6;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-7 {
    column-count: 7;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-8 {
    column-count: 8;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-9 {
    column-count: 9;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-10 {
    column-count: 10;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-11 {
    column-count: 11;
  }

  .MasonryGrid-module-scss-module__Vo5F-G__s-columns-12 {
    column-count: 12;
  }
}

/*# sourceMappingURL=ed6b0_core_dist_components_MasonryGrid_module_scss_module_css_bad6b30c._.single.css.map*/